.container{
  margin-top: 40px;
}

.bt{
  margin-top: 20px;
  font-weight: bold;
}

.bt-cad{
  text-align: right;
}

/* Cor do Botão */
#bt-cad{
  background-color: #760763;
  color: #FFF;
  font-weight: bold;
}

#bt-back{
  color: #FFF;
  font-weight: bold;
}

.list-back{
  text-align: right;
}

/*Tamanho do Container #tm_cont */

#tm_cont{
  width: 500px;
}

.inserirProduto{
  width: 500px;
}

.bt-inserir{
  padding-top: 20px;
}

.lisProd{
  margin-top: 40px;
}

.btedit{
  color: #FFF;
}

.editID{
  display: none;
}

.updatePro{
  width: 400px;
}

.space{
  margin-top: 10px;
}

.btVoltar{
  color: #FFF;
}

/*ESTILO MENU INDEX*/

.indexmenu{
  margin-top: 100px;
}

/*Adicionar Categoria*/

.formaddcat{
  margin-top: 40px;
  width: 500px;
}

.addcat{
  text-align: right;
}

.bt-add-cat{
  background-color: #40CB63;
  color: #FFF;
}

/*bloco de quadros menu*/
.quad-index{
  margin-top: 20px;
}

.liscat{
  width: 500px;
}


/*INDEX*/

.log{
  width: 250px;
  margin-top: 250px;
  border-radius: 15px;
  border: 1px solid #cccbca;

  -webkit-box-shadow: 10px 10px 25px 0px rgba(194,192,194,1);
  -moz-box-shadow: 10px 10px 25px 0px rgba(194,192,194,1);
  box-shadow: 10px 10px 25px 0px rgba(194,192,194,1);
}

.icon{
  width: 75px;
  height: 75px;
}

.btlog{
  text-align: right;
  font-weight: bold;
}

.espace-log{
  padding: 10px;
}

.cadUser{
  width: 400px;
}

.form-cad{
  text-align: right;
}
